<div id="signup-wrapper">
  <div class="form-header">
    <h1 class="form-title">Join us !</h1>
  </div>


  <div class="signup-form-frame">
    <div class="login-form-container">
      <form method="post" action="/signup" id="signup_form">
        <div class="signup-form-content">
          <label for="name">Name</label>
          <input type="text" name="username" placeholder="Beber" required>
          <label for="email">Email</label>
          <input type="email" name="email" class="input" placeholder="beber@noob.com" required>
          <label for="password">Password</label>
          <input type="password" name="password" class="input" placeholder="••••••" required>
          <label for="company">Company</label>
          <input type="company" name="company" class="input" placeholder="ironhack">



          {{#if errorMessage}}
          <div class="error-message">{{ errorMessage }}</div>
          {{/if}}
          <button class="btn-login">Sign up</button>
        </div>
      </form>
      <p class="form-sub-infos">Already have an account ? <a href="/Log in" class="button-link-signup">Log in</a></p>
    </div>
  </div>
</div>