<footer class="footer">
  <div class="footer-left">
    <p>Made with <i class="far fa-heart likes-heart"></i> by Léa, Cécile & Camille J</p>
  </div>
  <div class="footer-right">
    <div class="cgu-container">
      <a class="cgu" href="">CGU</a>
      {{!-- <div id="cguPopup" class="popup">
    <!-- CGUPopup content -->
    <div class="cgu-content">
      <span class="close">&times;</span>
      <p>
        L’ensemble du contenu du site www.midi.com à savoir notamment tous les textes, commentaires, ouvrages,
        illustrations œuvres et images reproduits ou représentés sont strictement réservés au titre du droit d’auteur
        ainsi qu’au titre de la propriété intellectuelle et pour le monde entier. À ce titre et conformément aux
        dispositions du code de la propriété intellectuelle, seule l’utilisation pour un usage privé sous réserve de
        dispositions différentes voire plus restrictives du code de la propriété intellectuelle est autorisée. Toute
        reproduction ou représentation totale ou partielle du site de midi ou de tout ou partie des éléments se
        trouvant sur le site de www.midi.com est strictement interdite.

        Toute utilisation de ces contenus en fraude des droits détenus par des tiers sur ceux-ci est constitutive du
        délit de contrefaçon, sévèrement sanctionné par le Code de la Propriété Intellectuelle.

        midi ne saurait en aucun cas être tenu pour responsable de la violation par un utilisateur de droits détenus
        par des tiers et perpétrée à raison des activités de ce dernier sur le site.
      </p>
    </div>
  </div> --}}

      <a class="ml" href="">Mentions legales</a>
      {{!-- <div id="mlPopup" class="mlpopup">
    <!-- CGUPopup content -->
    <div class="ml-content">
      <span class="close">&times;</span>
      <p>
        L’ensemble du contenu du site www.midi.com à savoir notamment tous les textes, commentaires, ouvrages,
        illustrations œuvres et images reproduits ou représentés sont strictement réservés au titre du droit d’auteur
        ainsi qu’au titre de la propriété intellectuelle et pour le monde entier. À ce titre et conformément aux
        dispositions du code de la propriété intellectuelle, seule l’utilisation pour un usage privé sous réserve de
        dispositions différentes voire plus restrictives du code de la propriété intellectuelle est autorisée. Toute
        reproduction ou représentation totale ou partielle du site de midi ou de tout ou partie des éléments se
        trouvant sur le site de www.midi.com est strictement interdite.

        Toute utilisation de ces contenus en fraude des droits détenus par des tiers sur ceux-ci est constitutive du
        délit de contrefaçon, sévèrement sanctionné par le Code de la Propriété Intellectuelle.

        midi ne saurait en aucun cas être tenu pour responsable de la violation par un utilisateur de droits détenus
        par des tiers et perpétrée à raison des activités de ce dernier sur le site.
      </p>
    </div>
  </div> --}}
    </div>

    <div class="copyright-container">
      <a href="">Midi © 2019</a>
    </div>
  </div>
</footer>