<footer class="footer">
  <div class="footer-left">
    <p>Made with <i class="far fa-heart likes-heart"></i> by Léa, Cécile & Camille J</p>
  </div>
  <div class="footer-right">
    <div class="cgu-container">
      <a class="btn-cgu" href="">CGU</a>
      <div id="cgu_popup" class="cgu-popup">
        <!-- CGUPopup content -->
        <div class="cgu-popup-content">
          <span class="close">&times;</span>
          <p>
            L’ensemble du contenu du site www.midi.com à savoir notamment tous les textes, commentaires, ouvrages,
            illustrations œuvres et images reproduits ou représentés sont strictement réservés au titre du droit
            d’auteur
            ainsi qu’au titre de la propriété intellectuelle et pour le monde entier. À ce titre et conformément aux
            dispositions du code de la propriété intellectuelle, seule l’utilisation pour un usage privé sous réserve de
            dispositions différentes voire plus restrictives du code de la propriété intellectuelle est autorisée. Toute
            reproduction ou représentation totale ou partielle du site de midi ou de tout ou partie des éléments se
            trouvant sur le site de www.midi.com est strictement interdite.

            Toute utilisation de ces contenus en fraude des droits détenus par des tiers sur ceux-ci est constitutive du
            délit de contrefaçon, sévèrement sanctionné par le Code de la Propriété Intellectuelle.

            midi ne saurait en aucun cas être tenu pour responsable de la violation par un utilisateur de droits détenus
            par des tiers et perpétrée à raison des activités de ce dernier sur le site.
          </p>
        </div>
      </div>

      <a class="btn-ml" href="">Mentions legales</a>
      <div id="ml_popup" class="ml-popup">
        <!-- CGUPopup content -->
        <div class="ml-content">
          <span class="closetwo">&times;</span>
          <p>
            <h1>Mentions Légales</h1>
            Le site midi.com appartient à la société MIDI.
            Raison sociale:
            « MIDI »
            SARL 10$ capital LOL
            Enregistrement au registre des répertoire des métiers sous le numéro 000 000 000
            Numéro individuel d’identification fiscale (numéro de TVA intracommunautaire)
            Adresse:
            MIDI
            226 Boulevard Voltaire
            75011 PARIS
            Numéro de téléphone
            toto@noob.fr
            Hébergeur:
            HEROKU
            63-65 boulevard Massena 75013, Paris, FRANCE
            Téléphone : +33.(0) 1 70 37 76 61
            Télécopie +33.(0) 1 43 73 18 51
            direction@heroku.net
            www.heroku.com
          </p>
        </div>
      </div>
    </div>

    <div class="copyright-container">
      <a href="">midi © 2019</a>
    </div>
  </div>
</footer>