<div class="navbar-pages">
  <div class="big-nav-container">
    <div class="navigation">
      <div class="pages-links-container">
        <a href="/restaurants">Places</a>
        <a href="/random">Random</a>
        <a href="/contribute">Contribute</a>
      </div>
    </div>
    <div class="pages-auth-container">
      <div class="pages-links-container">
        <a class="login-link" href="/login">LOG IN</a>
        <a class="favorites-link" href="/favorites"><img src="/medias/img/empty_heart.svg" alt="empty_heart"></a>
      </div>
    </div>
  </div>
</div>