<div class="navbar">
  <div class="auth-container">
    <div class="links-container">
      <a class="login-link" href="/login">LOG IN</a>
      <a class="signup-link" href="/signup">SIGN UP</a>
    </div>
  </div>
</div>