<div class="navbar-pages">
  <div class="big-nav-container">
    <div class="logo-container">
      <a href="/"><img class="logo-pic" src="/medias/img/logo.png" alt="logo"></a>
    </div>

    <div class="pages-navlinks-container">
      <a href="/restaurants">PLACES</a>
      <a href="/random">RANDOM</a>
      <a href="/contribute">CONTRIBUTE</a>
    </div>

    <div class="pages-icons-container">

      {{#unless isLoggedin}}
      <a class="user-account-link" href="/login"></a>
      {{/unless}}
      <a class="user-account-link" href="/user-account/{{oneUser._id}}"><i class="far fa-user"></i></a>
      {{!-- <a class="favorites-link" href="/favorites"><i class="far fa-heart"></i></a> --}}
      {{!-- <a class="wishlist-link" href="/wishlist"><i class="fas fa-list"></i></a> --}}
    </div>
  </div>
</div>