<div class="navbar">
  <div class="auth-container">
    <div class="links-container">
      <a class="login-link" href="/views/auth/login.hbs">LOG IN</a>
      <a class="signup-link" href="/views/auth/signup.hbs">SIGN UP</a>
    </div>
  </div>
</div>