<div class="navbar-pages">
  <div class="big-nav-container">
    <div class="logo-container">
      <a href="/"><img class="logo-pic" src="/medias/img/logo.png" alt="logo"></a>
    </div>

    <div class="pages-navlinks-container">
      <a href="/restaurants">Places</a>
      <a href="/random">Random</a>
      <a href="/contribute">Contribute</a>
    </div>

    <div class="pages-icons-container">
      <a class="user-account-link" href="/user-account"><img class="user-icon" src="/medias/img/user.svg"
          alt="user"></a>
      <a class="favorites-link" href="/favorites"><img class="heart-icon" src="/medias/img/empty_heart.svg"
          alt="empty_heart"></a>
      <a class="wishlist-link" href="/wishlist"><img class="wishlist-icon" src="/medias/img/wishlist2.png"
          alt="wishlist"></a>
    </div>
  </div>
</div>