<section class="bg-home">
  <header class="{{headerClass}}">
    {{>nav_main}}
  </header>
  <div class="hr-container">
    <hr class="vertical-hr">
  </div>
  <div class="flex-center-vertical">
    <div class="home-text-container">
      <p>Midi helps you find where to eat during your lunch break. Rely on your coworkers appreciations to pick a
        place, and you
        can also contribute if you think one's missing !


        <a class="btn-see-all" href="/restaurants">Happy Belly</a>

      </p>
    </div>
    {{!-- <div class="arrow-down"><i class="fas fa-chevron-down"></i></div> --}}
  </div>

</section>
<section class="about">
  <div class="about-section">
    <h3 class="about-title">Proximity</h3>
    <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque itaque officia possimus omnis
      tempore dolorem, corporis molestiae commodi, accusantium eligendi quas recusandae repellendus quisquam. Deserunt
      sed non laborum adipisci odit?</p>
  </div>
  <div class="about-section">
    <h3 class="about-title">Reliability</h3>
    <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, pariatur? Soluta
      repudiandae facere, vel dolorem rem itaque, voluptas incidunt laboriosam fugiat recusandae in architecto magnam
      vitae maxime ullam provident ea!</p>
  </div>
  <div class="about-section">
    <h3 class="about-title">Conviviality</h3>
    <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae odit vel excepturi quae quis
      cupiditate rem at asperiores eos impedit, temporibus saepe est commodi inventore nulla nemo fugiat labore? Ut.</p>
  </div>

</section>