<section class="bg-home">
  <header class="{{headerClass}}">
    {{>nav_main}}
  </header>
  <div class="hr-container">
    <hr class="vertical-hr">
  </div>
  <div class="flex-center-vertical">
    <div class="home-text-container">
      <p>Midi helps you find where to eat during your lunch break. Rely on your coworkers reviews to pick a
        place, and you
        can also contribute if you think one's missing!


        <a class="btn-see-all" href="/restaurants">Happy Belly</a>

      </p>
    </div>
    {{!-- <div class="arrow-down"><i class="fas fa-chevron-down"></i></div> --}}
  </div>

</section>
<section class="about">
  <div class="about-section">
    <h3 class="about-title">Proximity</h3>
    <p class="about-text">Ever started a new job and wondered what were the good places to have lunch? Midi will only
      show you the best spots closest to your office.</p>
  </div>
  <div class="about-section">
    <h3 class="about-title">Reliability</h3>
    <p class="about-text">No need to sort through thousands of reviews from people you don't trust. We only show you the
      places that are tried and tested by your own coworkers.</p>
  </div>
  <div class="about-section">
    <h3 class="about-title">Conviviality</h3>
    <p class="about-text">Discover the places your coworkers like and get their advice on what the best spots are. Maybe
      you can even grab lunch together at their favorite place!</p>
  </div>

</section>