<section class="bg-home">
  <header class="{{headerClass}}">
    {{>nav_main}}
  </header>
  <div class="hr-container">
    <hr class="vertical-hr">
  </div>
  <div class="flex-center-vertical">
    <div class="home-text-container">
      <p>With midi app don’t be scared of struggling to find a place to eat for lunch. We’ve got bunch of places to
        propose
        you rely on your collegues appreciations. You can contribute too. AMAZING.Less reading more eating >>>

        <a class="btn-see-all" href="/restaurants">Happy Belly</a>

      </p>
    </div>
    {{!-- <div class="arrow-down"><i class="fas fa-chevron-down"></i></div> --}}
  </div>

</section>
<section class="about">
  <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cum soluta, quaerat cumque vitae
    consequuntur
    ad! Expedita sit perspiciatis fugiat. Animi esse earum sunt dolor aspernatur nostrum inventore facere quisquam.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo debitis porro ex modi dignissimos, asperiores aliquid
    quis hic veritatis quo enim iusto ea eligendi dolor pariatur! Consectetur minus odio animi!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, deleniti deserunt maxime modi laudantium dolores
    cupiditate? Vero similique alias quasi itaque impedit, iure autem eum ducimus, saepe neque deserunt ea!</p>
</section>