<section class="bg-home">
  <header class="{{headerClass}}">
    {{>nav_main}}
  </header>
  <div class="hr-container">
    <hr class="vertical-hr">
  </div>
  <div class="flex-center-vertical">
    <div class="home-text-container">
      <p>Midi helps you find where to eat during your lunch break. Rely on your coworkers appreciations to pick a
        place, and you
        can also contribute if you think one's missing !


        <a class="btn-see-all" href="/restaurants">Happy Belly</a>

      </p>
    </div>
    {{!-- <div class="arrow-down"><i class="fas fa-chevron-down"></i></div> --}}
  </div>

</section>
<section class="about">
  <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cum soluta, quaerat cumque vitae
    consequuntur
    ad! Expedita sit perspiciatis fugiat. Animi esse earum sunt dolor aspernatur nostrum inventore facere quisquam.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo debitis porro ex modi dignissimos, asperiores aliquid
    quis hic veritatis quo enim iusto ea eligendi dolor pariatur! Consectetur minus odio animi!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, deleniti deserunt maxime modi laudantium dolores
    cupiditate? Vero similique alias quasi itaque impedit, iure autem eum ducimus, saepe neque deserunt ea!</p>
</section>