.footer {
  height: 70px;
  background-color: #071716;
  color: #fffff8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.footer-right {
  display: flex;
  justify-items: space-between;
}

.copyright-container {
  margin-left: 40px;
}
.btn-cgu {
  margin-right: 10px;
}

/* -------------------------------------------------------------------------------- */
/*  POPUPS
/* -------------------------------------------------------------------------------- */

/* The popup (background) */
.cgu-popup,
.ml-popup {
  display: none;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

/* Popup Content */
.cgu-popup-content,
.ml-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: black;
  padding: 6% 7%;
  width: 50%;
  border-radius: 0.2rem;
}

/* The Close Button */
.close,
.closetwo {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.closetwo:hover,
.closetwo:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.cgu,
.ml {
  color: #fffff8;
}
