.contribute-wrapper,
.admin-forms-wrapper {
  min-height: 100vh;
}
.contribute-page-title,
.admin-forms-page-title {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 2%;
}
.separator-horizontal {
  border-color: #071716;
  width: 40%;
  margin: auto;
  margin-bottom: 2%;
}
.user-form-frame,
.admin-form-frame {
  /* background-color: #071716; */
  width: 45vw;
  /* padding: 3%; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.user-form-container,
.admin-form-container {
  background-color: #fffff8;
  /* height: 95%;
  width: 95%; */
  padding: 3%;
}

/*---------------------------------------
USER/ADMIN FORM 
----------------------------------------*/

.part1-flex-col,
.part3-flex-col {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

#user_add_form label,
#admin-add-form label {
  cursor: pointer;
  margin: 10px 0;
}

#user_add_form input,
#admin-add-form input {
  border: 1px solid #071716;
  padding: 0.7rem;
  border-radius: 0.2rem;
  font-size: 0.9rem;
}

#user_add_form input:last-of-type,
#admin-add-form input:last-of-type {
  margin-bottom: 20px;
}

.btn-send {
  border: 2px solid;
  border-radius: 0.3rem;
  padding: 6px;
  cursor: pointer;
}
.btn-send:hover {
  background-color: #1d4244;
  color: #fffff8;
}
.btn-send:active {
  transform: translateY(2px);
}

.success-message {
  text-align: center;
  border-radius: 5px;
  background-color: #1a6448;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}
.share {
  margin-bottom: 10px;
}
