.bg-home {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(/medias/img/home-bg.png);
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}
/* .hr-container {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 42vh;
  left: 54%;
}

.vertical-hr {
  border: none;
  border-left: 1px solid #fffff8;
  height: 20vh;
  width: 1px;
  margin: 0;
} */

.flex-center-vertical {
  display: flex;
  align-items: center;
  height: 89vh;
  width: 100vw;
  /* border: 1px solid yellow; */
}

.home-text-container {
  display: flex;
  width: 46%;
  justify-content: flex-end;
  /* border: 1px solid red; */
  align-items: center;
  padding-right: 6%;
}

.home-text-container p {
  font-size: 1.2rem;
  border-radius: 3px;
  width: 63%;
  background-color: #fffff8;
  padding: 5% 8% 8% 8%;
  text-align: justify;
}

.btn-see-all {
  border-radius: 3px;
  /* margin-top: 8%; */
  padding: 3% 3%;
  width: 80%;
  margin: 8% auto 0 auto;
  display: block;
  text-align: center;
  font-size: 1.8rem;
  background-color: #cb2b04;
  color: #fffff8;
}

.btn-see-all:hover {
  background-color: #e1430c;
}

.btn-see-all:active {
  transform: translateY(3px);
}
.arrow-down {
  display: flex;
  align-items: flex-end;
  height: 90%;
}
.fa-chevron-down {
  color: #fffff8;
  font-size: 4.5rem;
  color: #cb2b04;
  margin-left: -28px;
}
.fa-chevron-down:hover {
  color: #e1430c;
}

.fa-chevron-down:active {
  transform: translateY(2px);
}

.empty {
  border-right: 1px solid #fffff8;
  height: 30%;
  width: 50%;
}
.logo-home {
  width: 30%;
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

/* -------------------------------------------------------------------------------- 
  ABOUT
 -------------------------------------------------------------------------------- */
.about {
  height: 300px;
  background-color: #fffff8;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 4% auto;
}

.about-title {
  font-size: 150%;
  margin-bottom: 20px;
}

.about-section {
  width: 20%;
  /* border: 2px solid #071716;
  border-radius: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-text {
  color: #071716;
  font-size: 120%;
  text-align: justify;
}
.proximity,
.fa-users,
.fa-smile-wink {
  font-size: 3rem;
  margin-bottom: 7%;
}
