.navbar-pages {
  width: 100vw;
  /* border: 1px solid red; */
  height: 130px;
  color: #071716;
  /* margin-bottom: 8%; */
}

.big-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 90%;
  margin: auto;
  /* border: 2px solid green; */
  padding-left: 100px;
}

.logo-container {
  /* border: 1px solid pink; */
  display: flex;
  justify-content: flex-start;
  height: 80%;
  width: 15%;
}
.logo-pic {
  display: block;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 65%;
}

.pages-navlinks-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
  width: 100%;
}

.pages-navlinks-container a {
  font-size: 1.5rem;
}
.pages-navlinks-container a:hover {
  text-decoration: underline;
}

/* .pages-icons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 35%;
  border: 1px solid red;
} */

.pages-icons-container {
  /* border: 1px solid red; */
  width: 14%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
