* {
  box-sizing: border-box;

}

.resto-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.nameRestaurant {
  text-align: center;
  font-size: 2.5em;
}

.image_onerestaurant {
  height: 300px;
  width: 400px;
  display: flex;
  justify-content: center;
}

#resto-likes-container {
  display: flex;
  justify-content: flex-end;
}

.resto-likes {
  margin-top: 7px;
  margin-right: 2px;
}

.fa-heart {
  color: red;
  margin-top: 8px;

}

.sendButtonContainer {
  display: flex;
  justify-content: center;
}

.sendButton {
  width: 30%;
  margin-top: 10px;
}

.resto-left-container {
  width: 330px;
  height: 230px;
  margin-right: 50px;
}

.resto-right-container {
  width: 240px;

}

#typeOfFood {
  margin-bottom: 10px;
  font-weight: bold;
}

#coworkers_recommend {
  text-align: justify
}

#isItFast {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: justify;
}

.map-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;

}

.distanceContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#map {
  width: 630px;
}


#distance {
  display: inline;
  font-weight: bold;
}