/* .wrapper-restaurants {
  width: 100vw;
  max-width: 100vw;
  background-color: #f9f9f0;
  min-height: 100vh;
  border: 50px solid;
  border-left-color: #cf5c19;
  border-right-color: #cf5c19;
  border-top-color: #102526;
  border-bottom-color: #102526;
} */
.wrapper-restaurants {
  width: 100vw;
  max-width: 100vw;
  background-color: #f9f9f0;
  min-height: 100vh;
  border: 50px solid;
  border-left-color: #1d4244;
  border-right-color: #1d4244;
  border-top-color: #102526;
  border-bottom-color: #2f5658;
}
.restaurants-page-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left-sidebar {
  width: 25%;
  height: 100%;
  /* border: 2px solid yellowgreen; */
}
#vertical_line {
  height: 40vh;
  width: 1px;
  position: relative;
  left: 222.5px;
  top: 30px;
  border-left: 1px solid black;
}
.restaurants-container {
  width: 70%;
}
h1.restaurants-title {
  color: #f37226;
  font-size: 1.5rem;
  margin-bottom: 3%;

  text-underline-position: under;
}
.restaurants-image {
  width: 250px;
  height: 170px;
  cursor: pointer;
}

.restaurants-image:hover {
  border: 3px solid #f37226;
}
.restaurants-grid {
  display: flex;
  justify-content: safe;
  align-items: center;
  flex-wrap: wrap;
}
.one-restaurant-container {
  width: 30%;
}

/* The popup (background) */
.popup,
.mlpopup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  /* z-index: 1; Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  z-index: 10;
}

/* Popup Content */
.cgu-content,
.ml-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.cgu,
.ml {
  color: #f9f9f0;
}
