.wrapper-restaurant-detail {
  background-color: #f9f9f0;
  min-height: 100vh;
}

.resto-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.nameRestaurant {
  text-align: center;
  font-size: 2.5em;


}

.image_onerestaurant {
  height: 300px;
  width: 400px;
  display: flex;
  justify-content: center;
}

#resto-likes-container {
  display: flex;
  justify-content: flex-end;
}

.resto-likes {
  margin-top: 7px;
  margin-right: 2px;
}

.fa-heart.lea {
  color: red;
  margin-top: 8px;
}





.sendButtonContainer {
  display: flex;
  justify-content: center;
}

.sendButton {
  width: 80px;
  margin-top: 10px;
  background: transparent;
  border: 2px solid #1d4244;
  border-radius: 12px;
  padding: 1px 3px;
}

.sendButton:hover {
  cursor: pointer;
  background: #116B64;
  transition-duration: 0.2s;
  color: white;
}



.speedContainerButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

}

#speed1,
#speed2,
#speed3 {
  margin-right: 7px;
  margin-left: 10px;
}

.resto-left-container {
  width: 330px;
  height: 230px;
  margin-right: 50px;
}

.resto-right-container {
  width: 240px;
}

#typeOfFood {
  margin-top: 5px;
  font-weight: bold;
}

#coworkers_recommend {
  margin-top: 10px;
  text-align: justify;
}

#speedRate {
  margin-top: 10px;

  font-weight: bold;
}

#isItFast {
  margin-top: 40px;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: justify;
  text-align: center;
}

.map-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.distanceContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#map {
  width: 622px;
}

#distance {
  display: inline;
  font-weight: bold;
}

.buttonsEditContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fa-trash {
  margin: 5px;
}

.fa-edit {
  margin: 5px;
}