.wrapper-user-account {
  width: 100vw;
  background-color: #fffff8;
  min-height: 100vh;
  width: 50%;
}

.user_container {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 10px 10px 10px;
}

.each_user {
  display: block;
  margin: 0 30px 30px 30px;
}

.hello_user {
  margin-bottom: 50px;
  margin-top: 30px;
  font-size: 160%;
  margin: 30px;
  color: #ee5436;
}

#user-info-title {
  font-size: 150%;
  margin-bottom: 10px;
}

.list_user {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-list-item {
  margin: 0.5% auto;
  font-size: 110%;
}

.your_favorites {
  margin-bottom: 50px;
  margin: 30px;
  font-weight: bold;
  font-size: 150%;
}

.favorites_user {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px;
  justify-content: space-around;
}

.one-fav-container {
  width: 33.5%;
  margin-bottom: 6%;
  max-height: 200px;
}

.fav-title {
  font-size: 100%;
  margin-top: 1.5%;
}
